<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]Forside - Christiansø Tour Guide</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    
    <div style="vertical-align:middle; text-align: center;">
        
        <table style="font-size: 20px">
            <thead>
                <h2> @Html.ActionLink("Velkommen til Christiansø Tour Guide " , "Index")</h2>
            </thead>
                <br/>
            <thead>
                <text> @Html.ActionLink(" Se attraktioner ","Attractions")</text>
            </thead>
            <thead>
                <text> @Html.ActionLink(" Se kort ","Map")</text>
            </thead>
            <thead>
                <text> @Html.ActionLink(" Bestil Tour ","OrderTour")</text>
            </thead>
            <thead>
            <text> @Html.ActionLink(" Kontakt Os ","ContactUs")</text>
            </thead>
        </table>
        <HR>
    </div>

</head>
<body>
@*hej*@
<div class="text-center" style="vertical-align:middle; text-align: center;">
    <img src="https://localhost:5001/Home/DisplayImage" alt="Image" style="width: 700px; height: 600px"/>
    <button class="btn test">Press me</button>
</div>
</body>
</html>