<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]Forside - Christiansø Tour Guide</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <div style="vertical-align:middle; text-align: center;">
        
        <table style="font-size: 20px">
            <thead>
                <h2> @Html.ActionLink("Velkommen til Christiansø Tour Guide " , "Index")</h2>
            </thead>
                <br/>
            <thead>
                <text> @Html.ActionLink(" Se attraktioner ","Attractions")</text>
            </thead>
            <thead>
                <text> @Html.ActionLink(" Se kort ","Map")</text>
            </thead>
            <thead>
                <text> @Html.ActionLink(" Bestil Tour ","OrderTour")</text>
            </thead>
            <thead>
                <text> @Html.ActionLink(" Kontakt Os ","ContactUs")</text>
            </thead>
        </table>
        <HR> 
    </div>

</head>
<body>
<div class="text-center" style="vertical-align:middle; text-align: center;">
    <img src="https://localhost:5001/Home/DisplayImage" alt="Image" style="width: 700px; height: 600px"/>
</div>
<div class="testDiv">
    @Html.ActionLink("Test", "Index",null, htmlAttributes: new { @class = "btn btn-success test"})
</div>
    
</body>
</html>